.search{
    margin: 10px 0;
    input, button{
        border: 1px solid #000;
        border-radius: 0;
        outline: 0px !important;
        -webkit-appearance: none;
        &:focus{
            outline: 0px !important;
            -webkit-appearance: none;
            box-shadow: none;
        }
    }
}